.center {
	text-align: center;
}

p, li {
	text-align: left !important;
}

.toppadded {
	margin-top: 20px;
}

button {
	cursor: pointer;
}

.help {
	position: fixed;
	bottom: 10px;
	right: 10px;
	border-radius: 50% !important;
	border: none;
	padding: auto;
	height: 50px;
	width: 50px;
	background-color: rgb(250, 198, 131);
	font-weight: bold;
	font-size: 20px;
}

.help:active {
	transform: scale(1.1);
	transition-duration: 0.2s;
}