.center {
	text-align: center;
}

iframe {
	display: block;
	width: 100%;
	margin: 10px;
	min-height: 400px;
}

.toppadded {
	margin-top: 10px !important;
}

.globe {
	width: 1em;
	height: 1em;
	margin: 0px 0.05em 0px 0.1em;
	vertical-align: -0.1em;
	display: inline-block;
}

.red {
	color: red;
}

.green {
	color: rgb(0, 235, 0);
}